.page {
    width: 1024px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}

.hr3 {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #DDD, transparent);
    padding-top: 5px;
}

#header {
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
    background-color: aquamarine;
}
#body {
    font-size: 18px;
    line-height: 1.6;
    margin-top: 10px;
    text-align: center;
}

.pure-u-1-1 {
    margin-top: 20px;
    min-height: 10vw;
    width: 100%;
    min-width: 300px;
}

.pure-u-1-2 {
    margin-top: 20px;
    min-height: 10vw;
}